@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

html, body {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #15202b;
}
.homepage {
  display: block;
  max-width: 900px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(56, 68, 77);
  background-color: rgb(25, 39, 52);
}
h1 {
  font-family: Segoe UI;
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
  color: #B0C4DE;
}

h3 {
  font-family: Segoe UI;
  font-weight: 400;
  line-height: 1.2;
  color: #B0C4DE;
  padding-left: 30px;
  padding-top: 40px;
  padding-bottom: 30px;
}
.cadreInput {
  display: inline-block;
  padding: 6px 0;
  font-size: 17px;
  width: 364px;
  margin-left:15px;
}
.passwordForget a {
  color: rgb(106, 108, 119);
  font-size: 14px;
  font-weight: 500;
  margin-left: 125px;
}
.stringButton {
  color: #fff;
}
.designButton {
  background-color: rgb(36, 54, 71);
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 365px;
  margin-top: 20px;
  margin-left: 15px;
}
.passwordForget {
  margin-top: 16px;
  color: rgb(106, 108, 119);
  font-size: 14px;
  font-weight: 500;
}
.ajustement_contenent {
  padding-bottom: 24px;
  padding-top: 10px;
}
.cadreInput .tailleInput {
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border-radius: 6px;
}
.cadre {
  align-items: center;
  background-color: rgb(25, 39, 52);
  border: 1px solid rgb(40, 47, 53);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  margin: 100px auto;
  padding: 20px 0 28px;
  width: 396px;
}
.separateur {
  align-items: center;
  border-bottom: 1px solid rgb(56, 68, 77);
  display: flex;
  margin: 20px 16px;
  margin-bottom: 5px;
  text-align: center;
}
.inputCadre {
  background: rgb(43, 48, 58) url(/rsrc.php/v3/yO/r/YQNfPR9MJfx.png) repeat-x;
  border: 1px solid #6c6f72;
  color: #c9d0dd;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 22px;
  line-height: 16px;
  padding: 0 8px;
  vertical-align: middle;
}

/* Profile.vue */
.profile {
  display: table;
  max-width: 1200px;
  margin: 100px auto;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid rgb(56, 68, 77);
  background-color: rgb(25, 39, 52);
}
h2 {
  font-family: Segoe UI;
  text-align: center;
  font-weight: 400;
  line-height: 1.2;
  color: #B0C4DE;
}

/* Goal.vue */
.goal {
  border: 1px solid rgb(56, 68, 77);
  width: 350px;
  height: 260px;
  overflow: hidden;
  border-radius: 7px;
  margin-bottom: 50px;
}
.goal:hover {
  background-color: rgb(36, 54, 71);
  box-shadow: rgb(136 153 166 / 5%) 0px 0px 15px,
  rgb(136 153 166 / 15%) 0px 0px 3px 1px;
  width: 390px;
  height: 300px;
  margin-right: -20px;
  margin-left: -20px;
  margin-bottom: 10px;
}
.goal:hover h4 {
  font-weight: 500;
}
.goal:hover img {
  height: 240px;
  width: 390px;
}
h4 {
  font-family: Segoe UI;
  font-weight: 350;
  color: #B0C4DE;
  padding-left: 20px;
}
img {
  height: 200px;
  width: 350px;
}

/* Goals.vue */
.goals {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

/* ProfileBody.vue */
.body {
  display: flex;
  width: 1000px;
  margin-top: 20px;
  border-radius: 7px;
  border: 1px solid rgb(56, 68, 77);
  padding-bottom: 5px;
}
h3 {
  margin: 15px 0 10px 20px;
  font-weight: 400;
  color: #B0C4DE;
}

/* ProfileHeader.vue */

.header {
  display: flex;
  width: 550px;
  overflow: hidden;
  border-radius: 7px;
  border: 1px solid rgb(56, 68, 77);
}
h2 {
  font-family: Segoe UI;
  white-space: nowrap;
  margin: 20px 0 0 20px;
  font-weight: 400;
  line-height: 1.2;
  color: #B0C4DE;
}
h3 {
  margin: 15px 0 0 20px;
  font-weight: 400;
  color: #dec3b0;
}
#profilepic {
  width: 300px;
}
#settings {
  width: 25px;
  align-self: flex-end;
  margin-bottom: 10px;
  filter: invert(50%);
}