@import 'https://unpkg.com/ionicons@4.2.2/dist/css/ionicons.min.css';

body {
  margin: 0;
}
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

nav {
    height: 60px;
    width: 100%;
    ul { // Resolve the little white bar issue with the nav
      display: flex;  
      height: 100%;
      align-items: center;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start:0;
      
      figure{
        margin-block-start: 0;
        margin-block-end: 0;
        margin-inline-start: 10px;
        margin-inline-end: 0;
        cursor: pointer;
        margin-right: 10px;
      }

      a {
        text-decoration: none;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
      }

      i{
         margin-right: 10px;
         font-size: 22px;
      }
      li {
        list-style-type: none;
        padding: 10px 20px;
      }
    }

    img{
      height: 40px;
      width: 40px;
    }
    nav img{
       height: 40px;
      width: 40px;
    }
}
@media screen and (max-width: 759px) {
  nav{
    ul{
      position:absolute;
      width: 300px;
      flex-direction: column;
      left: -240px;
      transition: 300ms ease all;
      top: 60px;
      &.active{
        left: 0px;
      }

      figure {
        position: fixed;
        z-index: 1;
        top: 10px;
        left: 2px;
      }

      i{
         margin-right: 0px;
      }
      li{
        width: 100%;
        padding-left: 0;
        padding-right: 0;

      }

      a{
        flex-direction: row;
        margin-left: 20px;
        justify-content: space-between;
        margin-right: 20px;
      }
    }
  }
}

// .fade-enter, .fade-leave-to {
//     opacity: 0;
//     transform: translateX(2em);
// }
