html, body {  
  font-family: Segoe UI;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #15202b;
}

h1, h2, h3, h4 {
  font-weight: 400;
  line-height: 1.2;
  color: #B0C4DE;
}

input::-webkit-input-placeholder{
    color:#afafaf;
}

input:-moz-placeholder {
    color:#afafaf;
}

::placeholder {
    color:#afafaf;
}

select {
    color: #afafaf;
}

option:not(:first-of-type) {
    color: #afafaf;
}

/* Homepage.vue */
.homepage {
  display: block;
  max-width: 900px;
  margin: 100px auto;
  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgb(56, 68, 77);
  background-color: rgb(25, 39, 52);
}
#homepage_title {
    text-align: center;
}

#homepage_title span {
    font-size: inherit;
    color: rgb(43, 140, 189, 1);
    font-weight: 600;
}

.homepage_content {
    display: block;
    text-align: center;
    width: 100%;
    margin: 70px auto 0px;
}

.homepage_content .designButton {
    display: inline-block;
    width: initial;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0px auto 20px;
}

.homepage_text {
    margin-left: 65px;
    margin-right: min(65px);
    margin-bottom: 40px;
    font-style: italic;
    animation: animate 7s linear infinite;
}
@keyframes animate {
    0%
    {
        color: #fff;
        text-shadow: 0 0 10px rgb(43, 140, 189, 1),
                    0 0 20px rgb(43, 140, 189, 1);
    }
}

/* Login.vue */

.cadreInput {
  display: flex;
  padding: 6px 0;
  font-size: 17px;
  width: 364px;
  margin-left:15px;
}

span{
    color: #ee2e2e;
    font-size: 13px;
    padding-left: 3px;
    padding-top: 2px;

}

.name_span{
    display: grid;
    width: 166.5px;
}

.error_span{
    padding-left: 16px;
    font-size: 15px;
}

.cadreInputName {
    display: flex;
}

.cadreInputFirstName, .cadreInputLastName {
    display: block;
    font-size: 17px;
}

.cadreInputFirstName {
    padding: 6px 0;
    margin-left:15px;
}

.cadreInputLastName {
    padding: 6px 0;
    margin-left:10px;
}

.cadreInputFirstName .tailleInput {
    font-size: 17px;
    padding: 14px 16px;
    width: 142.5px;
    border-radius: 6px;
}

.cadreInputLastName .tailleInput {
    font-size: 17px;
    padding: 14px 16px;
    width: 142.5px;
    border-radius: 6px;
}

.birthdate_signin, .gender_signin{
    margin-left: 15px;
    padding-top: 6px;
    padding-bottom: 6px;
}

.div_select_gender{
    display: flex;
}
.cadreInputDate{
    padding-right: 10px;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
}
.label_date_signin, .label_gender_signin{
    color: #c7c7c7;
    padding-bottom: 6px;
    font-size: 17px;
}
.title_signin{
    color: #c7c7c7;
    display: flex;
}
.h5_title_signin{
    margin: 0 auto;
    padding-bottom: 6px;
    font-size: 30px; 
    font-weight: 500;
}
.cadreInputDate{
    padding-right: 10px;
    width: 100%;
    display: inline-flex;
}
.h5_title_signin{
    margin: 0 auto;
    padding-bottom: 6px;
    font-size: 30px; 
    font-weight: 500;
}

.select_gender{
    width: 363px;
}
.select_gender, .select_day_birth, .select_month_birth, .select_year_birth{
    padding: 14px 16px;
    color: #afafaf;
    background-color: rgb(43, 48, 58);
    border: 1px solid #6c6f72;
    cursor: pointer;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 17px;
}

.select_day_birth, .select_month_birth, .select_year_birth {
    display: inline-block;
    flex: 1 100%;
}
.select_month_birth, .select_year_birth {
    margin-left: 10px;
}
.select_year_birth{
    margin-right: 15px;
}
.select_gender:focus,
.select_gender:hover , 
.select_day_birth:focus,
.select_day_birth:hover,
.select_month_birth:focus,
.select_month_birth:hover, 
.select_year_birth:focus,
.select_year_birth:hover{
    outline: none;
    box-shadow: 0 0 0 1px #6c6f72;
}
.cadreInputDate .tailleInput{
    font-size: 17px;
    padding: 14px 16px;
    border-radius: 6px;
}

.date {
    color: rgb(59, 59, 59);
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.designButton {
  background-color: rgb(36, 54, 71);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 365px;
  margin-top: 20px;
  margin-left: 15px;
  overflow: hidden;
  box-shadow: 0 5px 15px #193047;
}

.designButton:hover {
    background: rgb(40, 68, 95);
    box-shadow: 0px 0px 1px 1px rgb(19, 38, 56);
    color: rgb(255, 255, 255);
}
  
.passwordForget {
  margin-top: 16px;
  color: rgb(106, 108, 119);
  width: 100%;
  display: flex;
}

.passwordForget a {
    color: rgb(106, 108, 119);
    font-size: 14px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
}

.cadreInput .tailleInput {
  font-size: 17px;
  padding: 14px 16px;
  width: 330px;
  border-radius: 6px;
}

.cadre {
    align-items: center;
    background-color: rgb(25, 39, 52);
    border: 1px solid rgb(40, 47, 53);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    padding: 20px 0 28px;
    width: 396px;
}

.login_container .cadre {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
.signin_container .cadre{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
}
.separateur {
  align-items: center;
  border-bottom: 1px solid rgb(56, 68, 77);
  display: flex;
  margin: 20px 16px;
  margin-bottom: 5px;
  text-align: center;
}

.inputCadre {
  background: rgb(43, 48, 58) url(/rsrc.php/v3/yO/r/YQNfPR9MJfx.png) repeat-x;
  border: 1px solid #6c6f72;
  color: #c9d0ddc2;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  height: 22px;
  line-height: 16px;
  padding: 0 8px;
  vertical-align: middle;
}

.inputCadre:focus,
.inputCadre:hover{
    outline: none;
    box-shadow: 0 0 0 1px #6c6f72;
}
.logo_form{
    margin: 0 auto;
    display: flex;
}
.logo_form .logo_form{   
    margin-top: 60px;
}
.logo_form .logo_form img{
    width: 430px;
}

/* Profile.vue */

.profile {
    display: table;
    max-width: 1200px;
    margin: 100px auto; 
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgb(56, 68, 77);
    background-color: rgb(25, 39, 52);
}

#profile_names {
    text-align: center;
}

/* Profile Editing */

.picture_profil img { 
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.picture_profil{
    width: 225px;
    height: 225px;
    margin-left: 345px;
    margin-top: 20px;
    margin-bottom:20px;
    overflow: hidden;
    border-radius: 50%;

}
.adjumentmentInputNom{
    margin-left: 50px;
}
.adjumentmentInputPrenom{
    margin-left:25px;
}
.adjumentmentInputEmail{
    margin-left:45px;
}

.adjumentmentCredentials {
    margin-left: 40px;
}

.emplacementButton{
    margin:0px 280px 0px 280px;
}

.cadreCredentials{
    margin:0px 200px 0px 230px;
}

/* UserGoal.vue */

.user_goal {
    border: 1px solid rgb(56, 68, 77);
    width: 350px;
    height: 260px;
    overflow: hidden;
    border-radius: 7px;
    margin-bottom: 50px;
}
.user_goal:hover {
    background-color: rgb(36, 54, 71);
    box-shadow: rgb(136 153 166 / 10%) 0px 0px 15px,
    rgb(136 153 166 / 10%) 0px 0px 3px 1px;
    width: 390px;
    height: 300px;
    margin-right: -20px;
    margin-left: -20px;
    margin-top: -18px;
    margin-bottom: 28px;
}

.user_goal:hover #goal_text {
    font-weight: 500;
}

.user_goal:hover #goal_img {
    height: 240px;
    width: 390px;
}

#goal_text {
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 18px;
}

#goal_img {
    height: 200px;
    width: 350px;
}

/* Goals.vue */
.user_goals {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* ProfileBody.vue */
.container {
    display: flex;
    width: 1000px;
    margin-top: 20px;
    border-radius: 7px;
    border: 1px solid rgb(56, 68, 77);
    padding-bottom: 5px;
}
.credentials {
    margin: 15px 0 10px 20px;
}

/* ProfileHeader.vue */
.profile_header {
    display: flex;
    width: 550px;
    overflow: hidden;
    border-radius: 7px;
    border: 1px solid rgb(56, 68, 77);
}

#profile_names {
    white-space: nowrap;
    margin: 20px 0 0 20px;
}

#role {
    margin: 15px 0 0 20px;
    color: #dec3b0;
}

#profilepic {
    width: 300px;
}

#settings {
    width: 25px;
    align-self: flex-end;
    margin-bottom: 10px;
    filter: invert(50%);
}

/* Goal.vue */

.goal_container {
    display: flex;
    max-width: 1200px;
    margin: 200px auto auto auto;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid rgb(56, 68, 77);
    background-color: rgb(25, 39, 52);
    justify-content: space-between;
}

.goal_container .designButton {
    width: initial;
    height: 80px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    overflow: visible;
    display: flex;
    position: relative;
    align-items: center;
    
}
.goal_container .designButton h1 {
    margin-left: 20px;
    font-size: 25px;
}

.goal_container .designButton .expand_icon {
    transform: rotate(90deg);
    width: 40px;
    position: absolute;
    top: 20px;
    right: 10px;
}

.goal_container .activities .designButton {
    max-width: 280px;
}

.goal_container .challenges .designButton {
    max-width: 240px;
}

.goal_container .cadre {
    margin: initial;
    width: 785px;
    height: 530px;
}

.goal_container .cadre .screen {
    background-color: rgb(15, 23, 31);
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    height: 400px;
    border: 1px solid rgb(40, 47, 53);
    overflow: hidden;
}

.goal_container .cadre .screen img {
    width:100%;
    height:100%;
}

.goal_container .cadre .buttons {
    position: relative;
    width: 700px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
}

.goal_container .cadre .buttons .designButton {
    margin: initial;
    height: 50px;
    width: 85px;
    position: absolute;
    left: 0px;
}

.goal_container .cadre .buttons img {
    width: 45px;
    padding: 5px;
    cursor: pointer;
    border: 1px solid rgb(40, 47, 53);
    border-radius: 100%;
}

.goal_container .cadre .buttons img:hover {
    background-color: rgb(33, 50, 66);
}

.goal_container .cadre .buttons img:active {
    background-color: rgb(47, 71, 94);
}

.screen_display {
    width: 100%;
    height: 100%;
    position: relative;
}

.screen_display .challenge-infos {
    position: absolute;
    background-color: #193047;
    border-radius: 5px;
    padding: 10px;
    top: 10px;
    left: 10px;
}

.screen_display h2, 
.screen_display .length, 
.screen_display .difficulty {
    font-family: Tahoma, Geneva, sans-serif;
    color: rgb(53, 194, 230);
    text-shadow: deepskyblue 1px 0 10px;
}

.screen_display h2 {
    margin-top: initial;
}

.screen_display .length, 
.screen_display .difficulty {
    letter-spacing: 1px;
    font-size: 18px;
    margin-left: 10px;
}

.screen_display .difficulty .facile {
    color: rgb(0, 255, 64);
    text-shadow: rgb(53, 230, 112)1px 0 10px;
}

.screen_display .difficulty .moyenne {
    color: rgb(255, 123, 0);
    text-shadow: rgb(230, 103, 53)1px 0 10px;
}

.screen_display .difficulty .difficile {
    color: rgb(255, 51, 0);
    text-shadow: rgb(230, 79, 53)1px 0 10px;
}
